<div class="exchanges">
  <h4>Lista Giełd</h4>
  <mat-form-field>
    <mat-label>Wybierz Giełdę</mat-label>
    <mat-select [(value)]="selectedExchange" name="exchange" (valueChange)="onExchangeChange($event)">
      <mat-option *ngFor="let exchange of (exchangeList$ | async)" [value]="exchange.name">{{exchange.country}},
        {{exchange.name}}:{{exchange.code}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="isStocksVisible" class="stocks">
  <h4>List Akcji</h4>
  <mat-form-field>
    <mat-label>Wybierz Akjcę</mat-label>
    <mat-select [(value)]="selectedStock" name="stock" (valueChange)="onStockChange($event)">
      <mat-option *ngFor="let stock of (stockList$ | async)" [value]="stock.symbol">{{stock.symbol !== "" ? stock.symbol :
        stock.name}}, {{stock.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="favourite-container" *ngIf="isVisible">
  <button mat-fab extended color="primary" (click)="AddToFavourites(selectedStock)">
    <mat-icon>favorite</mat-icon>
    Obserwój
  </button>
</div>

<div *ngIf="isVisible" class="chart">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
    [legend]="lineChartLegend" [type]="'line'" [plugins]="lineChartPlugins">
  </canvas>
</div>